{% extends "_base.htm" %}
{% block bodycontent %}
<h3><center>Day {{Day}} Report</h3></center>
<p>Research Question: <b>{{RQ}}</b></p>
<form class="form-inline" id="Form1" method="post" action="/dvdailyreport">
  <!-- User sees what the report section for the variable will look like -->
<!-- See webpage https://www.w3schools.com/bootstrap/bootstrap_collapse.asp for accordion code compatible with this bootstrap version -->
<h4><b>Dependent Variable Report</b></h4>
<div class="panel-group" id="DVReportAccordion">
  <div class="panel panel-default" id="DVPanel1">
    <div class="panel-heading">
      <h4 class="panel-title" id="panelTitle1">
        <a data-toggle="collapse" data-parent="#DVReportAccordion" href="#DVCollapse1" class="DVCollapseButton" id="DVCollapseButton1"></a>
      </h4>
    </div>
    <div id="DVCollapse1" class="panel-collapse collapse" aria-expanded="false">
      <div class="panel-body" id="DVPanelBody1">
      </div>
    </div>
  </div>
  <div class="panel panel-default" id="DVPanel2">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#DVReportAccordion" href="#DVCollapse2" class="DVCollapseButton" id="DVCollapseButton2"></a>
      </h4>
    </div>
    <div id="DVCollapse2" class="panel-collapse collapse" aria-expanded="false">
      <div class="panel-body" id="DVPanelBody2">
      </div>
    </div>
  </div>
  <div class="panel panel-default" id="DVPanel3">
    <div class="panel-heading">
      <h4 class="panel-title" id="panelTitle3">
        <a data-toggle="collapse" data-parent="#DVReportAccordion" href="#DVCollapse3" class="DVCollapseButton" id="DVCollapseButton3"></a>
      </h4>
    </div>
    <div id="DVCollapse3" class="panel-collapse collapse" aria-expanded="false">
      <div class="panel-body" id="DVPanelBody3">
      </div>
    </div>
  </div>
  <div class="panel panel-default" id="DVPanel4">
    <div class="panel-heading">
      <h4 class="panel-title" id="panelTitle4">
        <a data-toggle="collapse" data-parent="#DVReportAccordion" href="#DVCollapse4" class="DVCollapseButton" id="DVCollapseButton4"></a>
      </h4>
    </div>
    <div id="DVCollapse4" class="panel-collapse collapse" aria-expanded="false">
      <div class="panel-body" id="DVPanelBody4">
      </div>
    </div>
  </div>
  <div class="panel panel-default" id="DVPanel5">
    <div class="panel-heading">
      <h4 class="panel-title" id="panelTitle5">
        <a data-toggle="collapse" data-parent="#DVReportAccordion" href="#DVCollapse5" class="DVCollapseButton" id="DVCollapseButton5"></a>
      </h4>
    </div>
    <div id="DVCollapse5" class="panel-collapse collapse" aria-expanded="false">
      <div class="panel-body" id="DVPanelBody5">
      </div>
    </div>
  </div>
  <div class="panel panel-default" id="DVPanel6">
    <div class="panel-heading">
      <h4 class="panel-title" id="panelTitle6">
        <a data-toggle="collapse" data-parent="#DVReportAccordion" href="#DVCollapse6" class="DVCollapseButton" id="DVCollapseButton6"></a>
      </h4>
    </div>
    <div id="DVCollapse6" class="panel-collapse collapse" aria-expanded="false">
      <div class="panel-body" id="DVPanelBody6">
      </div>
    </div>
  </div>
  <div class="panel panel-default" id="DVPanel7">
    <div class="panel-heading">
      <h4 class="panel-title" id="panelTitle7">
        <a data-toggle="collapse" data-parent="#DVReportAccordion" href="#DVCollapse7" class="DVCollapseButton" id="DVCollapseButton7"></a>
      </h4>
    </div>
    <div id="DVCollapse7" class="panel-collapse collapse" aria-expanded="false">
      <div class="panel-body" id="DVPanelBody7">
      </div>
    </div>
  </div>
</div>
<!-- Not shown to the user until they expand a panel -->
{% if DVUnits %}
  <div id="DVMetricReportDiv" class="report-div">
    <div id= "DVQuestion" style="padding-bottom:5px"></div>
      <input type="number" rows="1" cols="25" placeholder="{{DVUnits}}" class="form-control" name="DVMetricReport" id="DVMetricReport">
  </div>
{% endif %}
{% if DVScaleMin and DVScaleMax %}
  <div id="DVOrdinalReportDiv" class="report-div">
    <div id= "DVQuestion" style="padding-bottom:5px"></div>
    <div class="form-check">
        <input type="radio" value="1" class="form-check-input" id="DVOrdinal1Report" name="DVOrdinalReport">
        <label for="DVOrdinal1Report" id="DVOrdinal1Label" class="form-check-label">
          (1) {{DVScaleMin}}
        </label>
    </div>
      <!-- Only first and last buttons have labels (min and max) -->
      <div class="form-check"><input type="radio"  value="2" class="form-check-input" id="DVOrdinalMid1Report" name="DVOrdinalReport">
        <label for="DVOrdinalMid2Report" class="form-check-label">(2)</div>
      <div class="form-check"><input type="radio"  value="3" class="form-check-input" id="DVOrdinalMid2Report" name="DVOrdinalReport">
        <label for="DVOrdinalMid3Report" class="form-check-label">(3)</div>
      <div class="form-check"><input type="radio"  value="4" class="form-check-input" id="DVOrdinalMid3Report" name="DVOrdinalReport">
        <label for="DVOrdinalMid4Report" class="form-check-label">(4)</div>
      <div class="form-check">
      <input type="radio"  value="5" class="form-check-input" name="DVOrdinalReport" id="DVOrdinal2Report">
        <label id="DVOrdinal2Label" class="form-check-label">
          (5) {{DVScaleMax}}
        </label>
      </div>
  </div>
{% endif %}
{% if DVBinary1 and DVBinary2 %}
  <div id="DVBinaryReportDiv" class="report-div">
    <div id= "DVQuestion" style="padding-bottom:5px"></div>
    <div class="form-check">
      <input type="radio" value="1" class="form-check-input" name="DVBinaryReport"  id="DVBinary1Report">
      <label class="form-check-label" id="DVBinary1Label">(1) {{DVBinary1}}</label>
    </div>
    <div class="form-check">
      <input type="radio" value="2" class="form-check-input" name="DVBinaryReport" id="DVBinary2Report">
      <label class="form-check-label" id="DVBinary2Label">(2) {{DVBinary2}}</label>
    </div>
  </div>
{% endif %}
<div class="form-group">
  <input type="submit" class="btn btn-default">
</div><br>
</form>
<script>
// https://www.digitalocean.com/community/tutorials/understanding-date-and-time-in-javascript
// Get time and hour so we know what the approximate time of day
const now = new Date();
console.log(now);
var hours = now.getHours()
console.log("It's hour " + hours);
if (hours >= 12 && hours <= 17) { // Afternoon
  console.log("It's Afternoon");
  $("a").eq(2).text("This Afternoon");
  console.log("This Afternoon");
  $("a").eq(3).text("This Morning");
  console.log("This Morning");
  $("a").eq(4).text("Last Night");
  console.log("Last Night");
  $("a").eq(5).text("Yesterday Evening");
  console.log("Yesterday Evening");
  $("a").eq(6).text("Yesterday Afternoon");
  console.log("Yesterday Afternoon");
  $("a").eq(7).text("Yesterday Morning");
  console.log("Yesterday Morning");
  $(".panel-default").last().remove(); // Remove uneeded panel
}
else if (hours >= 18 && hours <= 23) { // Evening
  console.log("It's Evening");
  $("a").eq(2).text("This Evening");
  console.log("This Evening");
  $("a").eq(3).text("This Afternoon");
  console.log("This Afternoon");
  $("a").eq(4).text("This Morning");
  console.log("This Morning");
  $("a").eq(5).text("Last Night");
  console.log("Last Night");
  $("a").eq(6).text("Yesterday Evening");
  console.log("Yesterday Evening");
  $("a").eq(7).text("Yesterday Afternoon");
  console.log("Yesterday Afternoon");
  $("a").eq(8).text("Yesterday Morning");
  console.log("Yesterday Morning");
}
else if (hours >= 0 && hours <= 5) { // Night
  console.log("It's Night");
  $("a").eq(2).text("Tonight");
  console.log("Tonight");
  $("a").eq(3).text("This Evening");
  console.log("This Evening");
  $("a").eq(4).text("This Afternoon");
  console.log("This Afternoon");
  $("a").eq(5).text("This Morning");
  console.log("This Morning");
  $("a").eq(6).text("Last Night");
  console.log("Last Night");
  $(".panel-default").last().remove(); // Remove uneeded panel
  $(".panel-default").last().remove(); // Remove uneeded panel
}
else if (hours >= 6 && hours <= 11) { // Morning
  console.log("It's Morning");
  $("a").eq(2).text("This Morning");
  console.log("This Morning");
  $("a").eq(3).text("Last Night");
  console.log("Last Night");
  $("a").eq(4).text("Yesterday Evening");
  console.log("Yesterday Evening");
  $("a").eq(5).text("Yesterday Afternoon");
  console.log("Yesterday Afternoon");
  $("a").eq(6).text("Yesterday Morning");
  console.log("Yesterday Morning");
  $(".panel-default").last().remove(); // Remove uneeded panel
  $(".panel-default").last().remove(); // Remove uneeded panel
}
else {
  console("Time check failed");
}


</script>
<script>
$(document).ready(function() {
    $(".report-div").hide(); // Initally hide the report page from the user
    // See Arun P Johny's reply on https://stackoverflow.com/questions/31590073/bootstrap-collapse-callback-after-expand-is-complete for checking if collapse animation is complete
    $("#DVReportAccordion").on("shown.bs.collapse", function(){
      console.log("panel expanded");
      var reportDiv = $(".report-div").detach(); // Cut report box
      $(".panel-default").each(function() {
        var grandparent = $(this).find(".panel-collapse"); // Get overall panel
        if (grandparent.attr("aria-expanded") == "true") { // Check if panel is collapsed (user can't see it)
          reportDiv.show(); // Show the report box (only relevant when the user clicks a panel for the first time on the page)
          reportDiv.appendTo(grandparent.find(".panel-body")); // Attach to whichever panel has a body that's shown (only one at a time)
          return false;
        }
        else {
        }
      });
      var parent;
  });
});
</script>
{% endblock %}
